{% include 'header.j2' %}
<table id="files">
    <thead>
        <tr>
            <td><b>Mode</b></td>
            <td><b>Name</b></td>
            <td class="num" align="right"><b>Size</b></td>
        </tr>
    </thead>
    <tbody>
        {% for file in files %}<tr>
            <td>{{ file.mode }}</td>
            <td><a href="file/{{ file.full_name }}.html">{{ file.full_name }}</a></td>
            <td class="num" align="right">{{ file.nlines }}L</td>
        </tr>{% endfor %}
</tbody></table>
{% include 'footer.j2' %}
