<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ name }} - {{ header.name }} - {{ header.desc }}</title>
<link rel="icon" type="image/png" href="{% if rootpath %}{{ rootpath }}/{% endif %}favicon.png" />
<link rel="alternate" type="application/atom+xml" title="{{ header.name }} Atom Feed" href="{% if rootpath %}{{ rootpath }}/{% endif %}atom.xml" />
<link rel="alternate" type="application/atom+xml" title="{{ header.name }} Atom Feed (tags)" href="{% if rootpath %}{{ rootpath }}/{% endif %}tags.xml" />
<link rel="stylesheet" type="text/css" href="{% if rootpath %}{{ rootpath }}/{% endif %}style.css" />
</head>
<body>
<div id="head">
    <div id="header">
        <a id="logo" href="{% if rootpath %}{{ rootpath }}/{% endif %}../"><img src="{% if rootpath %}{{ rootpath }}/{% endif %}logo.png" alt="" width="32" height="32" /></a>
        <div id="heading">
            <p><h1>{{ header.name }}</h1></p>
            <p class="desc">{{ header.desc }}</p>
            {% if header.url %}<p class="url">git clone <a href="{{ header.url }}">{{ header.url }}</a></p>{% endif %}
        </div>
    </div>
    <p class="nav">
        {% if header.readme %}<a href="{% if rootpath %}{{ rootpath }}/{% endif %}about.html">About</a> | {% endif %}
        <a href="{% if rootpath %}{{ rootpath }}/{% endif %}log.html">Log</a> |
        <a href="{% if rootpath %}{{ rootpath }}/{% endif %}files.html">Files</a> |
        <a href="{% if rootpath %}{{ rootpath }}/{% endif %}refs.html">Refs</a>
        {% if header.submodules %} | <a href="{% if rootpath %}{{ rootpath }}/{% endif %}file/{{ header.submodules }}.html">Submodules</a>{% endif %}
        {% if header.license %} | <a href="{% if rootpath %}{{ rootpath }}/{% endif %}file/{{ header.license }}.html">LICENSE</a> {% endif %}
    </p>
    <hr/>
</div>
<br/>
<div id="content">
